@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<section>
    <div class="container my-4">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white m-3" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center box">

                        <div class="mb-md-2 mt-md-2">

                            <h2 class="fw-bold text-uppercase">Зарегистрироваться</h2>

                            <form asp-action="Register" asp-controller="Auth" asp-anti-forgery="true" enctype="multipart/form-data">
                                <div class="validation" asp-validation-summary="ModelOnly"></div>
                                <div>
                                    <div class="form-outline form-white mb-2">
                                        <label asp-for="UserName" class="mb-2">Введите ник</label><br/>
                                        <input type="text" asp-for="UserName" class="form-control form-control-sm"/>
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-outline form-white mb-2">
                                        <label asp-for="FirstName" class="mb-2">Введите имя</label><br/>
                                        <input type="text" asp-for="FirstName" class="form-control form-control-sm"/>
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-outline form-white mb-2">
                                        <label asp-for="LastName" class="mb-2">Введите фамилию</label><br/>
                                        <input type="text" asp-for="LastName" class="form-control form-control-sm"/>
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    <div class="form-outline form-white mb-2">
                                        <label class="mb-2">Статус</label><br/>
                                        <select asp-for="Role" asp-items="Model.Roles" class="form-select-sm"></select>
                                    </div>
                                    <div class="form-outline form-white mb-2">
                                        <label asp-for="Password" class="mb-2">Введите пароль</label><br/>
                                        <input asp-for="Password" class="form-control form-control-sm"/>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-outline form-white mb-2">
                                        <label asp-for="ConfirmPassword" class="mb-2">Подтвердите пароль</label><br/>
                                        <input asp-for="ConfirmPassword" class="form-control form-control-sm"/>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <h5 class="h5 text-danger">@Model?.ErrorMessage</h5>
                                        <button class="btn btn-outline-light btn-lg my-4" type="submit">Зарегистрироваться</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div>
                            <p>
                                Уже есть аккаунт?
                                <button class="btn btn-outline-light btn-lg px-5 m-1"
                                        onclick="location.href = '@Url.Action("Login", "Auth")'">
                                    Войти
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles
{
    <link rel="stylesheet" href="~/css/Account/auth.css" asp-append-version="true"/>
}