.pagination > li > a {
    background-color: #343a40;
    border: 1px solid;
    color: wheat;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    background-color: wheat;
    border-color: wheat;
    color: #5a5a5a;
}

.pagination > .disabled > a {
    background: #343a40 !important;
    border: 1px solid wheat !important;
    color: #9a9a9a !important;
}

.pagination > .active > a {
    background: wheat !important;
    border: 1px solid wheat !important;
    color: #5a5a5a !important;
}