@model ActivityDetailedObject

@{
    ViewData["Title"] = "Активность";
}

@await Html.PartialAsync("~/Views/Shared/PageTitle.cshtml", Model.Name)

<div class="container mt-4 card bg-dark border-3" style="border-radius: 1rem">
    <h6 class="text-center mt-1 text-white">Создатель: @Model.GetTitle()</h6>
    <h6 class="text-center mt-1 text-white">Дата создания: @Model.GetCreationDate()</h6>
    <h6 class="text-center mt-1 text-white">Сроки: @Model.GetTerms()</h6>
    <h6 class="text-center mt-1 text-white">@Model.Description</h6>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center activity text-white">
                <div>
                    @await Html.PartialAsync("~/Views/Activities/PartialViews/ActivityStatus.cshtml", Model)
                    @await Html.PartialAsync("~/Views/Activities/PartialViews/ActivityTime.cshtml", Model)
                </div>
                <div>
                    <span class="activity-done">Активность студентов</span>
                </div>
            </div>
            <div class="mt-1">
                @await Html.PartialAsync("~/Views/Activities/PartialViews/ActivityDetailedStudentsList.cshtml", Model.Students);
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-outline-light btn-lg"
               asp-controller="Activities"
               asp-action="Created">
                Назад
            </a> 
        </div>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/Activities/detailed.css" asp-append-version="true"/>
}