@model ActivityMyObject

<form asp-action="Upload" asp-controller="Documents" method="post" enctype="multipart/form-data" class="activity-upload-file-form">
    <input hidden asp-for="Id"/>
    <input hidden asp-for="PageSize"/>
    <input hidden asp-for="PageIndex"/>
    
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-8 col-sm-8 col-8 pet-info text-dark"
                 style="background: wheat !important; border-radius: 0.7rem">
                <div class="row mt-2">
                    <h4 class="h4 text-center">@(Model.Name)</h4>
                </div>
                <div class="row mt-2">
                    <div class="container d-flex justify-content-center">
                        @await Html.PartialAsync("~/Views/Activities/PartialViews/ActivityStatus.cshtml", Model)
                    </div>
                    <div class="container d-flex justify-content-center">
                        <div style="font-weight: bold">
                            @await Html.PartialAsync("~/Views/Activities/PartialViews/ActivityTime.cshtml", Model)
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-8 col-md-12">
                        <h4 class="my-3 h4">Данные</h4>
                        <h6 class="h6">Создатель: @Model.GetTitle()</h6>
                        <h6 class="h6">Сроки: @Model.GetTerms()</h6>
                        <h6 class="h6">@Model.Description</h6>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        @await Html.PartialAsync("~/Views/Activities/PartialViews/ActivityMyDocument.cshtml", Model, ViewData)
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>