@model IList<ActivityCreatedObject>

<div class="card-group vgr-cards mt-2 justify-content-around">
    @foreach (var activityDisplayObject in Model)
    {
        @await Html.PartialAsync("~/Views/Activities/PartialViews/ActivityCreatedItem.cshtml", activityDisplayObject, ViewData)
    }
</div>