
.btn-grad {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
    text-align: center;
    text-transform: none;
    padding: 0.5em;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(245, 245, 245);
    border-radius: 10px;
}

.btn-grad:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}
