@model NeuralTrainKerasViewModel

@{
    Layout = "_Column_Layout";
    ViewData["Title"] = "Обучение keras";
}

<section>
    <div class="container my-4">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-md-8">
                <div class="card bg-dark text-white m-3" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center box">
                        <div class="mb-md-2 mt-md-2">
                            <h2 class="fw-bold text-uppercase mb-3">Обучить keras</h2>

                            <form asp-action="TrainKerasModel" asp-controller="AdminTools" asp-anti-forgery="true" enctype="multipart/form-data">
                                <div class="validation" asp-validation-summary="ModelOnly"></div>
                                <div>
                                     <div class="form-outline form-white mb-2">
                                        <label asp-for="EmbeddingSize" class="mb-2">Размер вектора:</label><br/>
                                        <input type="number" asp-for="EmbeddingSize" class="form-control form-control-sm text-center"/>
                                        <span asp-validation-for="EmbeddingSize" class="text-danger"></span>
                                     </div>
                                     <div class="form-outline form-white mb-2">
                                        <label asp-for="Epochs" class="mb-2">Количество эпох:</label><br/>
                                        <input type="number" asp-for="Epochs" class="form-control form-control-sm text-center"/>
                                        <span asp-validation-for="Epochs" class="text-danger"></span>
                                     </div>
                                     <div class="form-outline form-white mb-2">
                                        <label asp-for="WindowSize" class="mb-2">Размер окна:</label><br/>
                                        <input type="number" asp-for="WindowSize" class="form-control form-control-sm text-center"/>
                                        <span asp-validation-for="WindowSize" class="text-danger"></span>
                                     </div>
                                     <div class="form-outline form-white mb-2">
                                        <label asp-for="LearningRate" class="mb-2">Learning rate:</label><br/>
                                        <input type="text" asp-for="LearningRate" class="form-control form-control-sm text-center"/>
                                        <span asp-validation-for="LearningRate" class="text-danger"></span>
                                     </div>
                                     <div class="form-outline form-white mb-2">
                                         <label asp-for="BatchSize" class="mb-2">Размер батча:</label><br/>
                                         <input type="text" asp-for="BatchSize" class="form-control form-control-sm text-center"/>
                                         <span asp-validation-for="BatchSize" class="text-danger"></span>
                                     </div>
                                     <div>
                                         <button class="btn btn-outline-light btn-lg my-4" type="submit">Обучить</button>
                                     </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section ColumnContent
{
    @await Html.PartialAsync("~/Views/AdminTools/PartialViews/AdminToolsNavigation.cshtml")
}

@section Styles
{
    <link rel="stylesheet" href="~/css/Account/auth.css" asp-append-version="true"/>
}
