@model AdminTrainModelViewModel

@{
    Layout = "_Column_Layout";
    ViewData["Title"] = "Обучение модели";
}

<section>
    <div class="container my-4">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-md-8">
                <div class="card bg-dark text-white m-3" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center box">
                        <div class="mb-md-2 mt-md-2">
                            <h2 class="fw-bold text-uppercase mb-3">Обучить модель</h2>

                            <form asp-action="TrainModel" asp-controller="AdminTools" asp-anti-forgery="true" enctype="multipart/form-data">
                                <div class="validation" asp-validation-summary="ModelOnly"></div>
                                <div>
                                    <div class="form-outline form-white mb-2">
                                        <label class="mb-2">Модель</label><br/>
                                        <select asp-for="ModelName" asp-items="Model.ModelNames" class="form-select-lg"></select>
                                    </div>
                                    <div>
                                        <h5 class="h5 text-danger">@Model?.ErrorMessage</h5>
                                        <button class="btn btn-outline-light btn-lg my-4" type="submit">Обучить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @if (Model.TrainResult is not null)
    {
        <div class="container my-4">
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col-12 col-md-8">
                    <div class="card bg-dark text-white m-3" style="border-radius: 1rem;">
                        <div class="card-body p-4 text-center box">
                            <div class="mb-md-2 mt-md-2">
                                <h2 class="fw-bold text-uppercase mb-3">Результат обучения:</h2>
                                <h4 class="fw-bold mb-3">Модель: @Model.TrainResult.Name</h4>
                                <h4 class="fw-bold mb-3">Время: @Model.TrainResult.TrainTime.ToString("g")</h4>
                                <h4 class="fw-bold mb-3">Количество эпох: @Model.TrainResult.Epochs</h4>
                                <h4 class="fw-bold mb-3">Размер вектора документа: @Model.TrainResult.EmbeddingSize</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

@section ColumnContent
{
    @await Html.PartialAsync("~/Views/AdminTools/PartialViews/AdminToolsNavigation.cshtml")
}

@section Styles
{
    <link rel="stylesheet" href="~/css/Account/auth.css" asp-append-version="true"/>
}
