@model DocumentCheckViewModel

@{
    ViewData["Title"] = "Проверка";
}

<section>
    <div class="container my-4">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white m-3" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center box">
                        <div class="mb-md-2 mt-md-2">
                            <h2 class="fw-bold text-uppercase">Проверка документа</h2>
                            <h3 class="fw-bold">@Model.Name</h3>
                            <h5 class="fw-bold mb-5">Загрузил: @Model.FirstName @Model.LastName</h5>

                            <form asp-action="DetailedCheck" asp-controller="Documents" asp-anti-forgery="true" enctype="multipart/form-data">
                                <div class="validation" asp-validation-summary="ModelOnly"></div>
                                <input asp-for="DocumentId" hidden/>
                                <input asp-for="FirstName" hidden/>
                                <input asp-for="LastName" hidden/>
                                <input asp-for="Name" hidden/>
                                <div>
                                    <div class="form-outline form-white mb-2">
                                        <label asp-for="InferEpochs" class="mb-2">Количество эпох</label><br/>
                                        <input type="number" asp-for="InferEpochs" class="form-control form-control-sm text-center"/>
                                        <span asp-validation-for="InferEpochs" class="text-danger"></span>
                                    </div>
                                    <div class="form-outline form-white mb-2">
                                        <label asp-for="TopCount" class="mb-2">Максимальное количество параграфов</label><br/>
                                        <input type="number" asp-for="TopCount" class="form-control form-control-sm text-center"/>
                                        <span asp-validation-for="TopCount" class="text-danger"></span>
                                    </div>
                                    <div class="form-outline form-white mb-2">
                                        <label class="mb-2">Метрика</label><br/>
                                        <select asp-for="BaseMetric" asp-items="Model.BaseMetrics" class="form-select-sm"></select>
                                    </div>
                                     <div class="form-outline form-white mb-2">
                                        <label class="mb-2">Модель</label><br/>
                                        <select asp-for="ModelName" asp-items="Model.ModelNames" class="form-select-sm"></select>
                                    </div>
                                    <div>
                                        <h5 class="h5 text-danger">@Model?.ErrorMessage</h5>
                                        <button class="btn btn-outline-light btn-lg mt-3" type="submit">Проверить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles
{
    <link rel="stylesheet" href="~/css/Account/auth.css" asp-append-version="true"/>
}