@model ChartContainerViewModel

<div class="container-fluid text-white">
    <section>
        <div class="row justify-content-center text-center">
            <div class="col-10 mt-3 mb-2">
                <h5 class="text-uppercase ps-2">@Model.Title</h5>
            </div>
        </div>
        <div class="row text-white justify-content-center text-center mt-2">
            <div class="col-10 text-center" id="@Model.ElementId"></div>
        </div>
    </section>
</div>