@model StatisticsCardViewModel

<div class="card text-white bg-dark">
    <div class="card-body">
        <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
                <i class="@Model.FontAwesomeClasses"></i>
            </div>
            <div class="text-end">
                <h3>@Model.Value</h3>
                <p class="mb-0">@Model.Description</p>
            </div>
        </div>
    </div>
</div>