@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity!.IsAuthenticated)
{
    @await Html.PartialAsync("~/Views/_Partial_Views/Shared/PageTitle.cshtml", 
        $"Welcome {User.Firstname()} {User.Lastname()}")
}
else
{
    @await Html.PartialAsync("~/Views/_Partial_Views/Shared/PageTitle.cshtml", "Welcome")

    <div class="row justify-content-center text-center" style="color: wheat">
        <div class="col-8">
            <h4 class="h4">Добро пожаловать в Антиплагиат систему</h4>
            <h4 class="h4 mt-3">Перед использованием необходимо авторизоваться</h4>
            <div class="mt-3">
                <button class="btn btn-outline-light btn-lg px-5 m-1 text-center"
                        onclick="location.href = '@Url.Action("Register", "Auth")'">
                    Зарегистрироваться
                </button>
                <button class="btn btn-outline-light btn-lg px-5 m-1 text-center"
                        onclick="location.href = '@Url.Action("Login", "Auth")'">
                    Войти
                </button>
            </div>
        </div>
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid text-white">
        <section>
        <div class="row">
            <div class="col-12 mt-3 mb-1">
                <h5 class="text-uppercase ps-2">Навигация</h5>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-xl-6 col-sm-6 col-12 mb-4">
                <div class="card text-white bg-dark">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div class="align-self-center">
                                <i class="fa-solid fa-plus text-warning fa-3x"></i>
                            </div>
                            <div class="text-end">
                                <h5 class="h5">Upload document</h5>
                                <a class="btn btn-grad mt-2 text-center"
                                   asp-action="Index" asp-controller="Home">Start creating</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6 col-12 mb-4">
                <div class="card text-white bg-dark">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div class="align-self-center">
                                <i class="fa-solid fa-house text-warning fa-3x"></i>
                            </div>
                            <div class="text-end">
                                <h5 class="h5">See your documents</h5>

                                <a class="btn btn-grad mt-2 text-center"
                                   asp-action="Index" asp-controller="Home">Manage my farm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-xl-6 col-sm-6 col-12 mb-4">
                <div class="card text-white bg-dark">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div class="align-self-center">
                                <i class="fa-solid fa-chart-line text-warning fa-3x"></i>
                            </div>
                            <div class="text-end">
                                <h5 class="h5">See statistic for your and collaborated farms</h5>
                                <a class="btn btn-grad mt-2 text-center"
                                   asp-action="Index" asp-controller="Home">Statistics</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6 col-12 mb-4">
                <div class="card text-white bg-dark">
                    <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                            <div class="align-self-center">
                                <i class="fa-solid fa-chart-area text-warning fa-3x"></i>
                            </div>
                            <div class="text-end">
                                <h5 class="h5">Manage collaborated farms</h5>

                                <a class="btn btn-grad mt-2 text-center"
                                   asp-action="Index" asp-controller="Home">Collaborations</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </div>
}

@section Styles
{
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/home.css" />
}