<div class="row text-white mt-3 mx-2">
    <h3>Навигация</h3>
</div>
<div class="row mt-3 mx-2">
    <a class="btn btn-outline-secondary" asp-area="" asp-controller="AdminTools" asp-action="MakeAdmin">Управление</a>
</div>
<div class="row mt-3 mx-2">
    <a class="btn btn-outline-secondary" asp-area="" asp-controller="AdminTools" asp-action="TrainDoc2VecModel">Обучение doc2vec</a>
</div>
<div class="row mt-3 mx-2">
    <a class="btn btn-outline-secondary" asp-area="" asp-controller="AdminTools" asp-action="TrainKerasModel">Обучение keras</a>
</div>
<div class="row mt-3 mx-2">
    <a class="btn btn-outline-secondary" asp-area="" asp-controller="AdminTools" asp-action="RebuildDocuments">Обновление документов</a>
</div>